@font-face {
    font-family: "GalanoGrotesqueDEMOBold";
    src: url("../fonts/GalanoGrotesqueDEMOBold/ReneBieder-GalanoGrotesqueDEMOBold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamPro-Bold";
    src: url("../fonts/GothamPro/GothamPro-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
