.iti-flag {
    background-image: url("/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti-flag {
            background-image: url("/img/flags.png");
    }
}

.orderHeader {
    text-align: center;
}

.orderForm__firstName, .orderForm__lastName {
    text-transform: capitalize;
}

.orderForm {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input {
    width: 50%;
    margin: 10px 0;
}

.orderForm__checkDates {
    margin-right: 50px;
    width: 30%;
}

.orderForm__comments {
    vertical-align:  top;
}
