@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

@import "fonts.css";

*, *::before, *::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  position: relative;
  margin: 0;
  font-family: 'HelveticaNeue-Medium';
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
}
button {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.header-lg {
  height: 1770px;
  // max-width: inherit;
  padding-top: 10px;
  font-size: 0.9rem;
  // -webkit-transition: all .2s;
  // transition: all .2s;
  // -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
  // -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
  // box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);

}

.header-bg {
  color: #fff;
  background-image: url("../img/background/home1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fa-bars {
  content: "\f0c9";
  font: normal normal normal 1.8rem/1 FontAwesome;
  text-rendering: auto;
    
}

.logo-img {
  height: 65px;
  width: 80px; 
  background: transparent url("../img/icons/logo/logo-transparents2x.png")  no-repeat;
  background-size: contain;
}
.m-top {
  margin-top: 10px;
}
.top__nav {
  margin-left: 30px;
}
.top__nav__menu ul { 
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.top__nav__menu ul li {
  display: block;
    /* -webkit-transition: all .2s ease-in-out;*/
    /* transition: all .2s ease-in-out; */
}
/* .top__nav__menu ul li:hover > ul {
    display: block;
} */
.top__nav__menu ul li a {
  display: block;
  color: #fff;
  font-family: 'HelveticaNeue-Medium'; 
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
}
// Это для выпадающих меню :

// .top__nav__menu ul ul {
//     display: none;
//     background: #fff;
//     position: absolute;
//     top: 100%;
//     box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     padding-left: 0;
//     min-width: 150px;
// }
// .top__nav__menu ul ul li {
//     position: relative;
// }
// .top__nav__menu ul ul li a {
//     padding: 10px 15px;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.05);
//     display: block;
// }
// .top__nav__menu ul ul ul {
//     position: absolute;
//     left: 100%;
//     top: 0;
// }

.underline-gradient:after {
  display: block;
  height: 4px;
  width: 100%;
  content: "";
  background: linear-gradient(to right, #fff0 0%, #ffff 50%, #fff0 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: background 200ms;
}
.underline-gradient:hover:after, .underline-gradient:active:after, .underline-gradient:focus:after {
  background-size: 100% 50%;
} 
.mn-dropdown {
  text-align: left;
  position: relative;
  font-size: 12px;
  display: inline-block;
}
.mn-dropdown .arrow-down {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 3px;
  top: 3px;
}
.mn-d-selected {
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  padding: 3px 13px 3px 10px;
  cursor: pointer;
}
.mn-d-content {
  z-index: 2000;
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  background-color: #fff;
  display: none;
}
.md-c-i {
  padding: 5px 9px;
  cursor: pointer;
  color: #fff;
  text-align: left;
  display: block;
  font-size: 1.2rem;
  border-top: 1px solid #eee;
}
.md-c-i:hover {
  text-decoration: none;
  color: #555;
}
.md-c-i img,
.mn-dropdown img {
  width: 20px;
}
.row.p-sm > div:not(:first-child) {
  padding-left: 5px;
}
.row.p-sm > div:not(:last-child) {
  padding-right: 5px;
}

.sandwich__icon {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  color: #fff;
  background: transparent url("../img/icons/list-menu.png")  no-repeat;
  background-size: contain;
}
.title-find__text {
  font-family: 'GalanoGrotesqueDEMOBold';
  letter-spacing: -2px;
  color: rgba(255, 255, 255, 0.7);
}    
.title-find h1 b {
  color: #fff;
}
.bott__nav > ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin-top: 0px;
  border-bottom: 1px solid #fff;
}
.bott__nav > ul > li {
  display: block;
  height: 100%;
    /* -webkit-transition: all .2s ease-in-out; */
    /* transition: all .2s ease-in-out; */
} 
.bott__nav > ul > li a {
  display: block;
  margin: 0 42px 0 0;
  color: #fff;
  font-family: 'HelveticaNeue-Medium';
  text-decoration: none;
}
.underline-gradient-2:after {
  display: block;
  height: 5px;
  width: 100%;
  position: relative;
  top: 10px;
  content: "";
  background: linear-gradient(to right, #fff 0%, #fff 50%, #fff 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  transition: background 200ms;
}
.underline-gradient-2:hover:after,
.underline-gradient-2:active:after,
.underline-gradient-2:focus:after {
  background-size: 100% 50%;
}
.dash-in:first-of-type {
  border-radius: 5px 0 0 5px;
}
.dash-in:last-of-type {
  padding-left: 0;
  color: #fff;
  background-image: linear-gradient(to right, #a21d6e, #e2245e);
  text-align: center;
  width: 14.5%;
  border-right: 1px solid #e2245e;
  border-radius: 0 5px 5px 0;
}
.dash-in {
  height: 100%;
  width: 17.5%;
  cursor: pointer;  
  background-color: #fff;
  border-right: 1px solid #d8d8d8;
}
.dash-in__img {
  height: 30px;
  width: 28%;
  cursor: pointer; 
}
.dash-in__img__icon {
  height: 20px;
  width: 20px;
}
.dash-in__text {
  height: 30px;
  width: 72%;
  border: none;
  cursor: pointer;
}
.dash-in__text__input {
  width: 100%;
  font-family: 'HelveticaNeue-Medium';
  border: none;
  cursor: pointer;
}
.dash-in__text__input::placeholder {
  color: #555;
}
.dash-in__text__input:active,
.dash-in__text__input:focus,
.dash-in__text__input:hover,
.dash-in__text__input:visited {
   outline: none; 
}

.headline__text {
  font-weight: bold;
  color: #555;
}
.tour {
  margin: 15px 0;
}
.tour__img {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.tour__img__text {
  font-family: 'GalanoGrotesqueDEMOBold';
  text-shadow: -2px -2px 4px #444;
}
.tour__img, .tour__img:hover {
  text-decoration: none;
  color: #fff;
}  

.card-1 {
  margin: 15px 0;
  background: #fff;
  border-radius: 5px;
}
.card-1__image {
  width: 100%;
}
.card-1__title {
  font-weight: bold;
  color: #555;
}
.card-1__description {
  font-family: 'HelveticaNeue';
  letter-spacing: -0.6px;
  color: #777;
}
.card-1__description__text {
  height: 100%;   
}
.card-1__stars {
  white-space: nowrap;
}
.card-1__stars__star {
  display: inline-block;
}
.card-1__star_half {
  border-color: #aaa;
}
.card-1__price-holder {
   color: #222;
}
.card-1__price-currency {
  display: inline-block;
  white-space: nowrap;
}
.card-1__price-value {
  display: inline-block;
  font-weight: bold;
}

.card-2 {

  // margin: 15px 0;
  
  background: #fff;
  border-radius: 5px;
}
.card-2__image-holder {
  height: 50%;
  width: 100%;
}
.card-2__image {
  border-radius: 50%;
}
.card-2__container {
  overflow: hidden;
  height: 50%;
  font-family: 'HelveticaNeue';
  letter-spacing: 0.25px;
}
.card-2__container__title {
  font-weight: bold;
} 
.card-2__container__descr {
  height: 140px;
  overflow: hidden;
  color: #444;
}
.card-3 {
  margin: 15px 0;
  border-radius: 5px;
  background-size: cover;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.card-3__container__text {
  font-family: 'GalanoGrotesqueDEMOBold';
}
.card-3:before {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms;
  z-index: 1;
}
.card-3:hover:before {
  opacity: 0;
}
.card-3__container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  padding: 10px 10px 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms;
  z-index: 2;
}
.card-3:hover .card-3__container {
  opacity: 0;
}
.card-3_blue:before {
  background: rgba(0, 168, 255, 0.8);
}
.card-3_green:before {
  background: rgba(105, 188, 53, 0.8);
}
.card-3_brown:before {
  background: rgba(139, 87, 42, 0.8);
}
.card-3_b-g:before {
  background: rgba(2, 97, 130, 0.8);
}
.card-3_red:before {
  background: rgba(226, 36, 94, 0.8);
}

.brd-top {
  border-top: 2px solid #eaeaea;
}
.sub-input {
  height: 45px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sub-input__envelope {
  height: 40px;
  width: 12%;
} 
.sub-input__envelope__icon {
  height: 100%;
  width: 100%; 
  background: #fff url("../img/icons/envelope_red.svg") 55% 60% no-repeat;
  background-size: 22px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sub-input__input {
  height: inherit;
  width: 64%;
  font-family: 'HelveticaNeue-Medium'; 
  font-size: 1rem;
  letter-spacing: -0.5px; 
  border: 0;
  background-color: #fff;
}
.sub-input__input:focus {
  outline: 0;
}
.sub-input__btn {
  height: inherit;
  width: 24%;
  text-align: center;
  background-image: linear-gradient(to right, #a21d6e, #e2245e);
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.sub-input__btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(162,29,110,.5);
  box-shadow: 0 0 0 0.2rem rgba(226,36,94,.5);
}
.mar-foot {
  height: 60px;
  margin-top: 60px;
}
.card-4 {
  font-family: 'HelveticaNeue-Medium';
  line-height: 1.5;
  letter-spacing: -0.4px;
  color: #555;
}
.card-4-logo__container {
  padding: 0; 
}
.card-4__container {
  padding: 0 0 0 35px;
}
.card-4-1 .card-4__container {
  padding: 0 30px 0 10px;
}
.card-4__logo {
  height: 65px;
  width: 85px; 
  background: transparent url("../img/icons/logo/logo-transparents2xred.png")  no-repeat;
  background-size: contain;
}
.card-4__info {
  font-family: 'HelveticaNeue-Medium';
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.4px;
}
.card-4__logo2 {
  height: 42px;
  width: 70px; 
  background: transparent url("../img/icons/azerbaijzn/azerbaijzn@2x.png")  no-repeat;
  background-size: contain;
}
.card-4__country {
  margin-top: 20px;
  margin-bottom: 35px;
  height: 25px;
  color: #444;
}
.card-4__country img {
  width: 30px;
}
.card-4__country div {
  font-family: 'HelveticaNeue-Medium';
  font-size: 18px;
  font-weight: 500;
}
.card-4__contacts::before {
  content: "";
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px;
  margin-right: 10px;
  display: inline-block;
  background: transparent url("../img/icons/phone.svg") no-repeat;
  background-size: contain;
}
.card-4__address {
  min-height: 20px;
}
.card-4__address__icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background: transparent url("../img/icons/location.svg")  no-repeat;
  background-size: contain;
}
.card-4__mail__icon {
  height: 20px;
  width: 22px;
  margin-right: 15px;
  display: inline-block;
  background: transparent url("../img/icons/mail.svg") no-repeat;
  background-size: contain;
}
.card-4__mail__text {
  word-break: break-all;
}
.copyright {
  height: 70px;
}
.copyright__text {
  margin-left: 15px;
  font-family: 'HelveticaNeue-Light';
  color: #555;
}
.copyright__icon {
  // height: 70px;
  // width: 90px;
  margin-right: 15px;
  background-size: contain;
} 
.copyright__visa {
  background: transparent url("../img/icons/visa.svg") no-repeat center center / contain;
}
.copyright__mastercard {
  background: transparent url("../img/icons/master-card.svg") no-repeat center center / contain;
}
.copyright__am-express {
  background: transparent url("../img/icons/am-express.svg") no-repeat center center / contain;
}

.slick-card-2-wrap {
  margin-left: -15px;
  // margin-right: auto;
    
}

.slick-card-2__item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;

} 
.slick-center .card-2 {
  position: relative;
  bottom: 0px;
/* outline: 1px dotted #000;*/
/* transform: scale(1); */
  transition: all .5s;
}  

.slick-prev:before {
  display: block;
  height: 40px;
  width: 25px;
  content: "";
  background: url("../img/icons/arrow-left-red.svg") center center no-repeat ;
  background-size: cover;
}
.slick-next:before {
  display: block;
  height: 40px;
  width: 25px;
  content: "";
  background: url("../img/icons/arrow-right-red.svg") center center no-repeat ;
  background-size: cover;
}
.slick-prev.slick-disabled:before {
  display: block;
  height: 40px;
  height: 40px;
  width: 25px;
  content: "";
  background: url("../img/icons/arrow-left-green.svg") center center no-repeat ;
  background-size: cover;
}
.slick-next.slick-disabled:before {
  display: block;
  height: 40px;
  height: 40px;
  width: 25px;
  content: "";
  background: url("../img/icons/arrow-right-green.svg") center center no-repeat ;
  background-size: cover;
}

.slick-dots li button1:after {
  display: block;
  content: "";
  position: relative;
  height: 20px;
  width: 20px;
  top: 15px;
  background: green;
  border-radius: 50%;
}

.slick-dots li button:before {
  height: 10px;
  width: 10px;
  top: 23px;
  background: #444;
  border-radius: 50%;
  color: transparent;
}
.slick-dots li button:hover:before {
  height: 10px;
  width: 10px;
  top: 23px;
  background: #e2245e;
  color: transparent;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  height: 21px;
  width: 21px;
  top:  17px;
  background: #e2245e;
  border: 4px solid #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3);
  color: transparent;
  border-radius: 50%;

}
// /* Dots */
// .slick-dotted.slick-slider{
//   margin-bottom: 30px;
// }
// .slick-dots{
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin: 10px 0 0;
//   list-style: none;
//   text-align: center;
//   font-size: 0;
// }
// .slick-dots li {
//   position: relative;
//   display: block;
//   float: left;
//   margin: 0 7px 0 0 ;
//   padding: 0;
//   cursor: pointer;
// }
// .slick-dots li:last-child {
//   margin-right: 0;
// }
// .slick-dots li.slick-active button {
//   border:2px solid #a9d1f5;
// }
// .slick-dots li button {
//   font-size: 0;
//   line-height: 0;
//   display: block;
//   width: 109px;
//   border-radius: 7px;
//   height: 80px;
//   cursor: pointer;
//   color: transparent;
//   border: 0;
//   outline: none;
//   background: url(../img/gp1.jpg) no-repeat 0 0 / cover;
// }
// .slick-dots li:nth-child(2) button {
//   background-image: url(../img/gp2.jpg);
// }
// .slick-dots li:nth-child(3) button {
//   background-image: url(../img/gp3.jpg);
// }
// .slick-dots li:nth-child(4) button {
//   background-image: url(../img/gp4.jpg);
// }


