@media (min-width: 576px) {
    .header-md {
        height: 350px;
    }
    .title-find {
        margin-top: 70px;
    }
    .sandwich__icon {
        height: 30px;
        width: 30px;
    }
    .title-find {
        margin-top: 0;
    }    
    .title-find__text {
        font-size: 2.5rem;
        letter-spacing: -2px;
        line-height: 55px;
    }
 
    .tour__img {
        height: 250px;
    } 
    .tour__img__text {
        font-size: 2.5rem;
    }
    
// **************** section card-1 **************************
      .most-card-wrap {
        margin-bottom: -60px;
      } 
      .card-1__image {
        height: 150px;
        width: 100%;
      }
      .card-1__container {
        min-height: 150px;
        padding: 11px 17px;
      }
      .card-1__title {
        min-height: 65px;
        font-size: 1rem;
      }
      .card-1__description {
        height: 20px;
      }
      .card-1__description__row-icon {
        margin: 5px 6px 0 0;
        height: 10px;
        width: 10px;
      }
      .card-1__description__row-text {
        font-size: 0.8rem;
      }  
      .card-1__footer__stars__icon {
        margin-top: 12px;
        height: 17px;
        width: 17px;
      }
      .card-1__footer__price-holder {
        font-size: 1.7rem;
      }      
// **************** section card-2 **************************
    .card-2 {
        height: 300px;
    }
    .card-2__image-holder {
        height: 150px;
    }
    .card-2__image {
        height: 120px;
        width: 120px;
    }
    .card-2__container {
        height: 150px;   
        padding: 10px 15px;
    }
    .card-2__container__title {
        font-size: 1rem; 
    } 
    .card-2__container__descr {
        font-size: 0.8rem; 
    }
    .slick-card-2-wrap {
        min-height: 370px;
        width: 540px;
     }
     .slick-card-2__item {
        height: 350px;
    }
     .slick-center .card-2 {
        height: 300px;
    }
// **************** section card-3 **************************
    .card-3 {
        height: 220px;
    }
    .card-3__container__text {
        white-space: nowrap;
        font-size: 2rem;
    }
    
    .sub-input {
        margin-top: 20px;
    }
// ******************* footer **************************     
    .card-4-1 {
        margin-bottom: 30px;
    }
   
    .card-4-logo__container {
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-4__container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-4__logo {
        // max-width: 50%;
        flex: 0 0 50%;
        height: 120px;
    }
    .card-4__info {
        margin-top: 0px;
        flex: 0 0 50%;
        font-size: 1rem;
    }
    .card-4__icons {
        width: 50%;
        margin-left: 50%;
        margin-top: -40px;
    }
    .card-4__icons__icon {
        width: 30px;
        height: 30px;
    }


  
    .card-4__country {
        margin-bottom: 15px;
    }
    .card-4__contacts {
        margin-bottom: 5px !important; 
    }
    .card-4__address {
        margin-bottom: 5px !important; 
    }
    
    .copyright {
        height: 60px;
    }
    .copyright__text {
        font-size: 0.8rem;   
    } 
    .copyright__icon-size {
        margin-right: 8px;
        height: 40px;
        width: 55px;
    }          
    
 
    
    .slick-card-1-wrap {
        height: 370px;
        width: 540px;
     }

    
    .slick-dots{
        bottom: -10px;
    }    
}  