@media (min-width: 576px) {
    .header-mob {
        height: 350px;
    
    }
    .title-find {
        margin-top: 70px;
    }
    .headline {
        margin-top: 25px;
        margin-bottom: 0;
    }
    .headline__text {
        font-size: 1.5rem;
    }
    .tour__img {
        height: 280px;
    } 
    .tour__img__text {
        font-size: 2.5rem;
    }
 
}  