@media (min-width: 480px) { 

    .header-md {
        height: 270px;
    }
    
    .sandwich__icon {
        height: 23px;
        width: 23px;
    }
    .title-find {
        margin-top: 25px;
    }
    .title-find__text {
        font-size: 2rem;
        letter-spacing: 0px;
        line-height: 45px;
    }
   // **************** section card-1 **************************
   .card-1__image {
    height: 150px;
    width: 100%;
  }
  .card-1__container {
    height: 150px;
    padding: 11px 17px;
  }
  .card-1__title {
    height: 58px;
    font-size: 0.9rem;
  }
  .card-1__description {
    height: 20px;
  }
  .card-1__description__row-icon {
    margin: 3px 6px 3px 0;
    height: 11px;
    width: 11px;
  }
  .card-1__description__row-text {
    font-size: 0.7rem;
  }  
  .card-1__footer__stars__icon {
    margin-top: 12px;
    height: 17px;
    width: 17px;
  }
  .card-1__footer__price-holder {
    font-size: 1.7rem;
  }

}      