@media (min-width: 1300px) {
    .header-lg {
        height: 770px;
    }
    .top__nav__menu > ul > li a {
        padding:  8px 19px 4px 19px;
        font-size: 1rem;
    }
    .title-find {
        margin-top: 155px;
    }
    .title-find__text {
        font-size: 4.5rem;
        line-height: 98px;
    }
    .dashboard {
        margin-top: 16px;
        height: 60px;
    }
    .dash-in__img {
        padding-top: 1px;
    }
    .dash-in__img__icon {
        height: 20px;
        width: 20px;
    }
    .dash-in__text__input {
        font-size: 1.1rem;
        margin-top: 0;
    }
    .bott {
        margin-top: 17px;
    }
    .bott__nav > ul {
        height: 60px;
    } 
    .bott__nav > ul > li a {
        padding: 20px 0;
        font-size: 1.1rem;
    } 
   
    .headline {
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .headline__text {
        font-size: 2.2rem;
    }
    
    .tour__img {
        height: 350px;
    }
    .tour__img__text {
        font-size: 3rem;
    }

    .card-1__image {
        height: 263px;
    }
    .card-1__container {
        height: 195px;
        padding: 20px 30px;
    }
    .card-1__title {
        margin-bottom: 4px;
        font-family: 'HelveticaNeue-Medium';
        font-size: 1.3rem;
    }
    .card-1__description {
        height: 25px;
        margin-top: 20px;
        font-size: 0.9rem;
    }
    .card-1__description__icon {
        margin: 0 8px 3px 0;
        height: 14px;
        width: 14px;
    }
    .card-1__stars__icon {
        margin-top: 14px;
        height: 20px;
        width: 20px;
    }
    .card-1__price-holder {
        font-size: 2rem;
    }
 
    .card-2 {
        height: 440px;
    }
    .card-2__image {
        height: 160px;
        width: 160px;
    }
    .card-2__image-holder {
        padding-top: 60px;
    }
    .card-2__container {
        padding: 20px 30px;
    } 
    .card-2__container__title {
        height: 40px;
        font-size: 1.2rem; 
    } 
    .card-2__container__descr {
        height: 140px;
        font-size: 1rem; 
    }
 
    .card-3 {
        height: 350px;
    }
    .card-3__container__text {
        font-size: 2.9rem;
    }
    .card-4 {
        font-size: 0.9rem;                 
    }
    .copyright__icon {
        height: 60px;
        width: 80px;
    }

    .slick-card-1-wrap {
        height: 530px;
        width: 1230px;
    }
    .slick-card-1__item {
        height: 500px;
    }

    .slick-card-2-wrap {
        height: 530px;
        width: 1230px;
    }
    .slick-card-2__item {
        height: 500px;
    }
    .slick-center .card-2 {
        bottom: 14px;
        height: 474px;
    }       
}
