
/* @media (min-width: 576px) {
    .header,.content-box-2 {
        height: 500px;
    }
    .tour__img {
        height: 300px;
    }
 
} 
@media (min-width: 768px) {
    .header,.content-box-2 {
        height: 550px;
    }
    .tour__img {
        height: 350px;
    }

}*/
    

