@include media-breakpoint-down(xl) {
    .tour-form {
        padding: 30px;
    }
}

@include media-breakpoint-down(lg) {
    .tour-form {
        padding: 25px;
    }
    .tour-form__top .top__prise {
        align-items: baseline;
        flex-direction: row;
    }
}

@include media-breakpoint-down(md) {
    .hero-homepage {
        padding: 100px 10px 15px 10px;

        .container {
            padding: 0;
        }

        .main-title {
            padding: 0;
        }

    }

    .alisontravel-navbar {
        background: linear-gradient(to right, #a21d6e 0%, #e2245e 100%);
        z-index: 5; 
        position: absolute;
        width: 100%;
        padding-top: 88px;
    }

    .travel-holidays__title {
        font-size: 24px;
        text-align: left;
        margin-bottom: 25px;
    }

    .alisontravel-nav .nav-item {
        border-top: 1px solid  rgba(255,255,255, 0.3) ;
        padding: 22px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alisontravel-nav .alisontravel-link {
        padding-right: 0;
        text-align: center;
    }
    .tour-form {
        padding: 15px;
    }
    .tour-form__top .top__prise {
        font-size: 50px;
		margin-bottom: 0px;
    }
    .tour-form__top .top__prise_span{
        font-size: 17px;
		margin-bottom: 12px;
    }

    .tour-form__top .top__prise {
        align-items: center;
        flex-direction: column;
    }
}

@include media-breakpoint-down(sm) {
    .hero-homepage {
        margin-bottom: 480px;
        padding: 100px 10px 1px 10px;

        .container {
            padding: 0;
        }

        .main-title {
            padding: 0;
            font-size: 26px;
            margin-bottom: 20px;
        }

    }

.counrty {
    .wrap-form {
        position: absolute;
        margin-top: 20px;
        margin-right: 10px;
    }

    .hero-page {

        &__nav {
            border: 0;
            display: flex;
            justify-content: space-between;
            
            &-item {
                height: 66px;
                color: rgba(0,0,0,0.3);
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
                font-size: 14px;
            }

            &-link {
                padding: 0rem 1rem;
                padding-top: 39px;

                &:hover {
                    border-bottom: 0;
                }

            }
            .active {
                border-bottom: 0 ;
                border-radius: 5px ;
                color: #fff;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            &-item_tours {
                background-image: url('../img/icons/Tours.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-position-y: 15px;
                position: relative;
            }

            &-item_tours.active {
                background-image: url('../img/icons/Tours_act.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%);
                background-position-y: 15px , 0;
            }

            &-item_hotels {
                background-image: url('../img/icons/Hotels.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-position-y: 15px , 0;
            }

            &-item_hotels.active {
                background-image: url('../img/icons/Hotels_act.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%);
                background-position-y: 15px , 0;
            }

            &-item_flights {
                background-image: url('../img/icons/Flights.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-position-y: 15px , 0;
            }

            &-item_flights.active {
                background-image: url('../img/icons/Flights_act.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%);
                background-position-y: 15px , 0;
            }

            &-item_transfers {
                background-image: url('../img/icons/Transfers.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-position-y: 15px , 0;
            }

            &-item_transfers.active {
                background-image: url('../img/icons/Transfers_act.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%);
                background-position-y: 15px , 0;
            }

        }

    }

}

    .tab-item {
        margin-bottom: 15px;
        border-radius: 15px;

        &_size {
            border: solid 1px rgba(0, 0, 0, 0.1);
            border-radius: 15px ;

            &_grey {
                color: rgba(0,0,0, 0.3);
            }
            
        }

        &_size-search {
            border-radius: 15px ;
        }
        
    }

    .alison-sub__form-submit{
        height: 60px;
        border-radius: 0px 0px 5px 5px; 
    }

    .alison-sub__form-wrap-input{
        border-radius: 5px 5px 0px 0px; 
        height: 60px;
    }

    .tour-form__top .top__prise {
        align-items: center;
        flex-direction: column;
    }

    .alison-sub__form-wrap-img{
        margin-top: 20px;
    }

    .tour-form__top .top__prise_margin {
        margin-top: -10px;
        margin-bottom: -15px;
    }

    .tour-form__top .top__star {
        margin-top: 0px;
        margin-bottom: 0px;

        &-item{
            max-width: 12%;
        }
    }
    .mb30{
        margin-bottom: 25px;
    }

    .tour .info__item_img{
        margin-right: 14px;
        margin-top: 2px;
    }

}

.main-title{
    @include media-breakpoint-down(xl) {
        font-size: 72px;
    }
    @include media-breakpoint-down(lg) {
        font-size: 48px;
    }
    @include media-breakpoint-down(md) {
        font-size: 42px;

    }
    @include media-breakpoint-down(sm) {
        font-size: 60px;
    }
}

 @media (min-width:576px) and (max-width: 767px){
    .hero-homepage {
        margin-bottom: 400px;
    }
}