@media (min-width: 992px) {
    .header-lg {
        height: 630px;
    }
    .top__nav__menu > ul > li a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }    
    .title-find {
        margin-top: 65px;
    }
    .title-find__text {
        font-size: 3.3rem;
        line-height: 78px;
    }
    .bott {
        margin-top: 61px;
    }
    .bott__nav > ul {
        height: 48px;
    }     
    .bott__nav > ul > li a {
        padding: 10px 0;
        font-size: 1rem; 
    }
    .dashboard {
        margin-top: 22px;
        height: 50px;
    }
    .dash-in__img {
        padding-top: 1px;
    }
    .dash-in__img__icon {
        height: 19px;
        width: 19px;
    }
    .dash-in__text__input {
        font-size: 1rem;
        margin-top: 2px;
    }

    .headline {
        margin-top: 50px;
        margin-bottom: 35px;
    }
    .headline__text {
        font-size: 2.1rem;
    }

    .tour__img {
        height: 269px;
    } 
    .tour__img__text {
        font-size: 2.5rem;
    }
 
    .card-1__image {
        height: 201px;
    }
    .card-1__container {
        height: 148px;
        padding: 15px 25px;
    }
    .card-1__title {
        font-family: 'HelveticaNeue';
        font-size: 1rem;
    }
    .card-1__description {
        height: 20px;
        margin-top: 16px;
        font-size: 0.8rem;
    }
    .card-1__description__icon {
        margin: 0 6px 3px 0;
        height: 12px;
        width: 12px;
    }
    .card-1__stars__icon {
        margin-top: 11px;
        height: 17px;
        width: 17px;
    }
    .card-1__price-holder {
        margin-top: -2px;
        font-size: 1.7rem;
    }
 
    .card-2 {
        height: 334px;
    }
    .card-2__image {
        height: 122px;
        width: 122px;
    }
    .card-2__image-holder {
        padding-top: 40px;
    }
    .card-2__container {
        padding: 14px 20px;
    }
    .card-2__container__title {
        height: 34px;
        font-size: 1.1rem; 
    } 
    .card-2__container__descr {
        height: 100px;
        font-size: 0.9rem; 
    }
 
    .card-3 {
        height: 267px;
    }
    .card-3__container__text {
        font-size: 2.2rem;
    }
    .card-4 {
        height: 300px;
        font-size: 0.8rem;                 
    }
    .card-4-1 {
        width: 31%;
        flex: 0 0 31%;
        margin-bottom: 0;
    }
      .card-4-n {
        width: 23%;
        flex: 0 0 23%;
    }
    .card-4__info {
        height: 62px;
    }
    .copyright__icon {
        height: 60px;
        width: 70px;
    }

    .slick-card-2-wrap {
       height: 420px;
       width: 960px;
    }
    .slick-card-2__item {
        height: 380px;
    }
    .slick-center .card-2 {
        bottom: 11px;
        height: 360px;
    }  
 
} 