@media (min-width: 768px) {
    .header,.content-box-2 {
        height: 520px;
    }
    .top__nav__menu > ul > li a {
        height: 37px;
        padding: 8px;
        font-size: 0.9rem;
    }
    .underline-gradient:after {
        position: relative;
        bottom: 5px;
    }    
    .title-find {
        margin-top: 65px;
    }
    .title-find__text {
        font-size: 2.5rem;
        line-height: 55px;
    }
    .bott {
        margin-top: 45px;
    }
    .bott__nav > ul {
        height: 42px;
    }     
    .bott__nav > ul > li a {
        padding: 4px 0;
        font-size: 1rem; 
    }
    .dashboard {
        margin-top: 15px;
        height: 40px;
    }
    .dash-in__img {
        padding-top: 1px;
    }
    .dash-in__img__icon {
        height: 16px;
        width: 16px;
    }
    .dash-in__text__input {
        font-size: 0.8rem;
        margin-top: 4px;
    }

    .headline {
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .headline__text {
        font-size: 2rem;
    }
    .tour__img {
        height: 304px;
    } 
    .tour__img__text {
        font-size: 2.1rem;
    }
  
    .card-1__image {
        height: 228px;
    }
    .card-1__container {
        height: 169px;
        padding: 17px 27px;
    }
    .card-1__title {
        // margin-bottom: 4px;
        font-family: 'HelveticaNeue';
        font-size: 1.1rem;
    }
    .card-1__description {
        height: 23px;
        margin-top: 18px;
        font-size: 0.8rem;
    }
    .card-1__description__icon {
        margin: 0 6px 3px 0;
        height: 12px;
        width: 12px;
    }
    .card-1__stars__icon {
        margin-top: 12px;
        height: 19px;
        width: 19px;
    }
    .card-1__price-holder {
        margin-top: 0;
        font-size: 1.7rem;
    }
  
    .card-2 {
        height: 382px;
    }
    .card-2__image {
        height: 138px;
        width: 138px;
    }
    .card-2__image-holder {
        padding-top: 40px;
    }
    .card-2__container {
        padding: 16px 25px;
    }
    .card-2__container__title {
        height: 36px;
        font-size: 1.1rem; 
    } 
    .card-2__container__descr {
        height: 125px;
        font-size: 0.9rem; 
    }
    .card-3 {
        height: 304px;
    }
    .card-3__container__text {
        font-size: 2.2rem;
    }
    .card-4 {
        height: 260px;
        font-size: 0.8rem;                 
    }
    .card-4-1,
    .card-4-n {
        width: 50%;
    }
    .input {
         width: 400px;
    }
    .copyright__icon {
        height: 50px;
        width: 60px;
        margin-right: 12px;
      }
      
      
      .card-4-2__info {
          padding: 10px;
          height: 50px;
          width: 50%;
      }
}  