@media (min-width: 400px) { 

    .header-md {
        height: 280px;
    }

// **************** section card-1 **************************
    .card-1 {
        margin: 0;
      }
      .card-1__image {
        height: 180px;
        width: 100%;
      }
      .card-1__container {
        min-height: 180px;
        padding: 11px 17px;
      }
      .card-1__title {
        min-height: 85px;
        font-size: 1.25rem;
      }
      .card-1__description {
        height: 25px;
      }
      .card-1__description__row-icon {
        margin: 4px 6px 0 0;
        height: 11px;
        width: 11px;
      }
      .card-1__description__row-text {
        font-size: 0.9rem;
      }  
      .card-1__footer__stars__icon {
        margin-top: 12px;
        height: 18px;
        width: 18px;
      }
      .card-1__footer__price-holder {
        font-size: 1.8rem;
      }
// **************** section card-2 **************************
      .card-2 {
        height: 380px;
      }
      .card-2__image-holder {
        height: 190px;
      }
      .card-2__image {
        height: 135px;
        width: 135px;
      }
      .card-2__container {
        height: 190px;  
        padding: 12px;
      }
      .card-2__container__title {
        font-size: 1.1rem; 
      } 
      .card-2__container__descr {
        font-size: 0.9rem; 
      }
}      