
<!-- article content-->
<article>
  <h1>Article content markup</h1>
  <h3>Basic</h3>
  <time>Posted on August 24, 2016 at 9:00 PM</time>
  <p>Lorem ipsum dolor sit amet, <mark>consectetur adipisicing</mark> elit. Velit <b>voluptatum quod quos</b> nihil, reprehenderit doloremque hic minima ipsam maxime laboriosam animi dolorum veritatis? Consectetur, <i>odio perspiciatis temporibus laboriosam</i> quam, illum.</p>
  <p>Illo adipisci <u>itaque placeat fugit nemo</u> eos? Quasi ratione <strike>libero reiciendis quos</strike> aperiam, <a href="#">doloremque quae delectus</a> voluptatum. Culpa consequatur, eaque et inventore nostrum, sunt quasi laudantium optio veniam, corrupti accusantium.</p><img src="http://placehold.it/350x150" alt="basic image"/><img src="http://placehold.it/1400x150" alt="full container image"/>
  <p>Explicabo iusto dolorem, ex corporis repellendus laborum consectetur ut, mollitia ullam quod quidem minima officia, esse ipsum quis dolor natus? Ullam ab eveniet vero illum, consectetur distinctio at doloremque labore!</p>
  <blockquote cite="http://example.source/">Deleniti, voluptas, impedit. Libero magnam, quisquam. Obcaecati fugit voluptatibus doloremque reiciendis excepturi eaque culpa numquam placeat neque, eveniet quas in perspiciatis assumenda iste asperiores! Distinctio ad cum laudantium fugiat? Neque!</blockquote>
  <q>Ullam rerum unde reiciendis, vel dolores quos aliquam eligendi quas, dolore fugit. Aliquam necessitatibus dolore quas eligendi tempore obcaecati voluptatem autem omnis sit, laboriosam, eos qui minima at? Eaque, qui.</q>
  <hr/>
  <h3>Ordered and unordered lists</h3>
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>A incidunt officia rem aliquid.</li>
    <li>Iure nobis quam minus aut!</li>
    <li>Repellat laudantium repudiandae aspernatur molestias!</li>
    <li>Id sunt voluptate unde soluta!</li>
  </ul>
  <ol>
    <li>Tempore quis odio voluptates porro.</li>
    <li>Dolorum minus soluta, itaque quia?</li>
    <li>Labore nesciunt sint laboriosam aperiam.</li>
    <li>Cum reiciendis ea perferendis non.</li>
    <li>Ipsa earum, totam minus. Nemo.</li>
    <li>Non necessitatibus a sequi laboriosam!</li>
    <li>Tempora eos quod quas possimus.</li>
    <li>Itaque quasi vero, aliquid earum!</li>
    <li>Tempore, repellendus quos fugiat aliquam.</li>
    <li>Asperiores quam, dolorem possimus maiores!</li>
    <li>Eaque ab magni, delectus omnis.</li>
    <li>Optio accusamus nisi error aspernatur!</li>
  </ol>
  <hr/>
  <h3>Table</h3>
  <table>
    <thead>
      <tr>
        <th>thead tr th</th>
        <th>th</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>tbody tr td</td>
        <td>td</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <h3>Media</h3>
  <video controls="true">
    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"/>
  </video>
  <audio controls="true">
    <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg"/>
  </audio>
  <hr/>
  <p>Difference between <b>bold attribute </b>and <strong>strong attribute</strong></p>
  <p>Difference between <em>em attribute </em>and <i>i attribute</i></p>
  <hr/>
  <h1>Header 1</h1>
  <p>Optio voluptates, officiis. Et nam, nobis, earum culpa provident molestiae dolorum commodi, eaque eos cumque ad sapiente magnam impedit fuga libero asperiores, at maxime. Expedita fugit praesentium dolorum saepe commodi.</p>
  <h2>Header 2</h2>
  <p>Culpa voluptatibus, nobis consectetur aspernatur iste dolore sit delectus accusamus adipisci recusandae explicabo minus obcaecati ducimus veniam, quibusdam at ex commodi ipsum, excepturi magni quisquam. Sit, nobis veniam porro perferendis!</p>
  <h3>Header 3</h3>
  <p>Eveniet expedita voluptates unde ipsa impedit, illo deleniti sunt natus adipisci vero nisi enim sed ad, eligendi ex, nesciunt assumenda iusto magni laboriosam placeat sapiente repellat voluptas, cum dicta. Eos!</p>
  <h4>Header 4</h4>
  <p>Maiores beatae illum consequuntur amet, laborum blanditiis impedit non! Eligendi porro repellat quibusdam nesciunt nulla laborum quod. Inventore quibusdam doloremque id reiciendis, officia velit fuga? Consectetur quam, nisi architecto voluptate?</p>
  <h5>Header 5</h5>
  <p>Praesentium error blanditiis facere sint numquam porro hic tempore repudiandae distinctio, quidem ipsum aut laborum cumque nobis assumenda, veniam, sunt cum illo repellat perferendis voluptates velit dolores. Labore, tempore, reiciendis!</p>
  <h6>Header 6</h6>
  <p>Enim fugiat maiores delectus accusantium, optio, ea voluptatibus assumenda odio alias inventore, laborum tempora saepe animi quae et, fugit a odit doloribus at accusamus nihil quibusdam nostrum esse libero. Dignissimos.</p>
  <hr/>
  <iframe src="/"></iframe>
  <hr/>
</article>