<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/icons/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/icons/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/icons/favicons/manifest.json">
    <link rel="mask-icon" href="img/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- open graph-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="---">
    <meta property="og:description" content="---">
    <meta property="og:image" content="---">
    <meta property="og:url" content="---">
    <meta name="twitter:image" content="---">
    <meta name="twitter:title" content="---">
    <meta name="twitter:url" content="---">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="---">
    <link rel="stylesheet" href="css/build.css">
  </head>
  <body>
    <noscript>
      <h2>Your browser does not support JavaScript!</h2>
    </noscript>
    <ul class="list-inline">
      <li><a href="index.html">index</a></li>
    </ul>
    <!-- footer-->
    <div class="footer"></div>
  </body>
</html>